body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffdd0;
    color: #ffffff;
    font-family:"cabin" sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #4d2b01;

}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
h2 {
    color: #4d2b01;
}
p {
    color: #4d2b01;
}



